@model WebApplication2.DAL.urunTable

@{
    ViewBag.Title = "Ürün Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">

   @using (Html.BeginForm("UrunDuzenle", "Admin", FormMethod.Post, new { enctype="multipart/form-data" }))
   {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ürün Düzenle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5">Ürün Adı</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.urunAdi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.urunAdi, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @{
            List<SelectListItem> data = ViewBag.kategoriList;
        }
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5">Kategori Adı</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.kategoriId, data, "-Seçiniz-", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.kategoriId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.isActive)
        @Html.HiddenFor(model => model.isDelete)

        @*<div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">Ürün Adı</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.isActive, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">Ürün Adı</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.isDelete, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.isDelete, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        @Html.HiddenFor(model => model.eklenmeTarihi)

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5">Ürün Açıklaması</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.aciklama, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.aciklama, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5">Ürün Resmi</label>
                <div class="col-md-10">
                    <input type="file" name="file" id="file" style="width:100%" />
                    @Html.ValidationMessageFor(model => model.urunResmi, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5">Ürün Özelliği</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ozellik, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ozellik, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-5">Ürün Fiyatı</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fiyat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fiyat, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
        </div>
        }
    </div>