@model WebApplication2.DAL.urunTable

@{
    ViewBag.Title = "Ürün Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*"UrunDuzenle", "Admin", FormMethod.Post, new { enctype="multipart/form-data" }*@
@using (Html.BeginForm("UrunDuzenle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ürün Düzenle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.urunId)
        <div class="form-group">
            <label class="control-label col-md-5">Ürün Adı</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.urunAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.urunAdi, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            List<SelectListItem> data = ViewBag.kategoriList;
        }
        <div class="form-group">
            <label class="control-label col-md-5">Kategori Adı</label>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.kategoriId, data, "-Seçiniz-", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kategoriId, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.eklenmeTarihi)

        <div class="form-group">
            <label class="control-label col-md-5">Ürün Açıklaması</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.aciklama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.aciklama, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.urunResmi)
        <div class="form-group">
            <label class="control-label col-md-5">Ürün Resmi</label>
            <div class="col-md-6">
                <input type="file" name="file" id="file" style="width:100%" />
                @Html.ValidationMessageFor(model => model.urunResmi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5">Ürün Özelliği</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.ozellik, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ozellik, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-5">Miktar</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.miktar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.miktar, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-5">Ürün Fiyatı</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.fiyat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fiyat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
}