@using WebApplication2.Models.Home;
@{
    ViewBag.Title = "Sepet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="masthead1">
    <div class="container h-100">
    </div>
</header>
<br/>

<div style="width:80%; margin:auto;">
    @if (Session["cart"] == null)
    {
        <div class="alert alert-danger">
            <strong>Sepetiniz Boş!</strong>
        </div>

    }
    else
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ürün</th>
                    <th>Miktar</th>
                    <th>Ekle/Çıkar</th>
                    <th>Ürün Resmi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Item item in (List<Item>)Session["cart"])
                {
                    <tr>
                        <td>@item.urun.urunAdi</td>
                        <td>@item.miktar</td>
                        <td>
                            <a href="@Url.Action("AddtoCart", "Home", new { urunId = item.urun.urunId, url = "Checkout" })">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a href="@Url.Action("MiktarAzalt", "Home", new { urunId = item.urun.urunId })">
                                <i class="fa fa-minus"></i>
                            </a>
                        </td>
                        <td><img style="max-height:100px; border-radius:5px;" class="img-responsive" src="../UrunImage/@item.urun.urunResmi" /></td>
                    </tr>
                }

            </tbody>
        </table>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="@Url.Action("CheckoutDetay", "Home")">Sepeti Onayla</a>
    }
</div>
   

